label {
  font-family: $font-primary;
  font-size: 0.9rem;
  display: flex;
  flex-flow: column wrap;

  input {
    margin-top: 1px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px $box-background inset !important;
}

form input[type='text'] {
  padding-left: 0.5rem;
  color: $white;
}

span {
  font-size: 0.8rem;
  font-weight: 600;
  align-self: baseline;
}

.validation {
  position: relative;
  max-width: fit-content;
  align-self: baseline;
  line-height: 1.5;
}

.validated {
  &::after {
    @include icon(icon);
    @include validation-icon(default);
    right: 0.8rem;
    top: 2rem;
    color: $white;
    background-color: #383736;
    padding: 0.2rem;
    padding-bottom: 0.1rem;
    border: 1px solid #383736;
    border-radius: 5px;
  }
}

.validated-outline {
  outline: 1px solid $success;
  border-color: transparent;
}

.error-outline {
  outline: 1px solid $error;
  border-color: transparent;
}

.validation-error {
  &::after {
    @include icon(icon);
    @include validation-icon('error');
  }
}
