$white: #fff;
$primary-color: #937dc2;
$primary-color-light: #c689c6;
$secondary-color: #748da6;
$secondary-color-light: #9cb4cc;
$light-green: #48cfad;
$dark-green: #377d71;
$dark-blue: #495c83;
$light-blue: #b2c8df;
$orange: #ee4b2b;
$grey: #eaf6f6;
$black: #000;
$black-body: #231f20;

// title
$primary-title: #553c9a;

// forms
$box-background: #312f2f;
$error: #ff1e00;
$success: #59ce8f;
