.signup {
  position: relative;

  &__container {
    @include flex(column);
    padding: 6.4rem 3.2rem 1.6rem;
  }

  &__title {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    h2 {
      color: $white;
      text-transform: none;
    }
  }

  &__back {
    margin-right: 1.6rem;
  }

  &__back-btn {
    @include main-button(transparent);
    border: 1px solid rgba(255 255 255 / 0.2);
    border-radius: 0.5rem;
    font-size: 1.4rem !important;
    margin: 0;

    &::before {
      @include icon(icon);
      content: '\f053';
    }
  }

  &__social {
    margin-top: 3.2rem;
    width: 100%;

    p {
      color: $white;
      font-size: 1.4rem;
      font-weight: 300;
      text-align: left;
    }
  }

  &__social-btn {
    display: flex;

    > button {
      @include main-button($box-background);
      font-size: 0 !important;
      width: 50%;
      height: 4rem;
      border-radius: 0.8rem;
      margin: 0;

      &:first-child {
        margin-right: 1.6rem;
      }

      &::before {
        @include icon(brand);
        font-size: 2.9rem;
        font-weight: 500;
        display: flex;
        justify-content: center;
      }
    }
  }

  &__google {
    &::before {
      content: '\f1a0';
    }
  }

  &__apple {
    &::before {
      content: '\f179';
    }
  }

  form {
    margin-top: 4rem;
    width: 100%;
  }

  &__email,
  &__username,
  &__password {
    display: flex;
    color: $white;
    width: 100%;
    margin-bottom: 2.4rem;

    label {
      width: 100%;
    }

    input {
      all: unset;
      height: 4rem;
      background-color: $box-background;
      border: 1px solid rgba(255 255 255 / 0.2);
      border-radius: 0.8rem;
      margin-top: 0.5rem;

      &:focus {
        border: 2px solid $primary-color;
      }
    }
  }

  input[type='checkbox'] {
    margin-right: 0.8rem;
  }

  &__terms {
    display: inline-flex;

    > span {
      color: $white;
    }
  }

  &__agree {
    display: flex;
    font-size: 1.3rem;
    font-weight: 400;
  }

  &__terms-link {
    font-size: 1.3rem;
    padding-left: 0.2rem;
    text-decoration: underline;
  }

  &__button {
    display: flex;
    width: 100%;
  }

  &__submit {
    @include main-button($primary-color);
    background-image: linear-gradient(to left, #553c9a, #ee4b2b);
    margin-inline: 0;
    padding-block: 1.6rem;
    flex-grow: 1;
    text-align: center;
    font-size: 1.9rem !important;
    border-radius: 0.8rem;
  }

  &__login {
    @include flex(row);
    margin-top: 1.6rem;

    p {
      color: $white;
      font-size: 1.4rem;
      margin-right: 0.8rem;
    }
  }

  &__login-btn {
    all: unset;
    @include body-text-style;
    color: $white;
    font-weight: bold;
    font-size: 1.4rem;
  }

  &__circle {
    display: none;
    background: radial-gradient(circle at 3rem 3rem, $orange, $primary-title);
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 2rem;

    &:nth-child(2) {
      top: 6rem;
      right: 2rem;
      left: unset;
      background: radial-gradient(circle at 7rem 3rem, $black-body, $black);
    }
  }
}

@include media('>=screen-xs') {
  .signup {
    &__container {
      max-width: 50rem;
      margin-inline: auto;
    }

    & form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__social-btn {
      > button {
        font-size: 1.4rem !important;
        display: flex;
        justify-content: center;
        align-items: center;

        &::before {
          justify-content: flex-start;
          margin-right: 1rem;
        }
      }
    }
  }
}

@include media('>=screen-sm') {
  .signup {
    &__container {
      padding-top: 3rem;
      padding-bottom: 2rem;
    }

    &__circle {
      display: block;
    }

    &__social-btn {
      flex-direction: column;
      gap: 2.4rem;

      & > button {
        width: 100%;
        padding: 0.5rem 0;
      }
    }

    &__terms {
      align-self: flex-start;
    }
  }
}
