.signup {
  display: flex;
  justify-content: center;

  &__container {
    @include flex(column);

    width: 70%;
    padding: 2rem 1rem;
    background-color: $white;
    border: 1px solid rgba(0 0 0 0.1);
    box-shadow: 4px 0 19px 4px rgba(0 0 0 0.24);
  }

  &__title {
    margin-bottom: 2rem;

    span {
      @include h3Style;
      font-variant: unset;
    }

    :first-child {
      font-size: 1.3rem;
      font-weight: 400;
    }

    :last-child {
      font-variant: small-caps;
      background-image: linear-gradient(to left, #553c9a, #ee4b2b);
      color: transparent;
      background-clip: text;
    }
  }

  &__email,
  &__username,
  &__password {
    @include flex(column);
  }

  &__buttons {
    @include flex(row);
  }

  &__submit {
    @include main-button($primary-color);
  }
}
