.signup {
  display: flex;
  justify-content: center;

  &__container {
    @include flex(column);

    width: 70%;
    padding: 2rem 1rem;
    background-color: $white;
    border: 1px solid rgba(0 0 0 / 0.1);
    box-shadow: 4px 0 19px 4px rgba(0 0 0 / 0.24);
  }

  &__title {
    margin-bottom: 2rem;

    span {
      @include h3-style;
      font-variant: unset;
    }

    :first-child {
      font-size: 1.3rem;
      font-weight: 400;
    }

    :last-child {
      font-variant: small-caps;
      background-image: linear-gradient(to left, #553c9a, #ee4b2b);
      color: transparent;
      background-clip: text;
    }
  }

  &__email,
  &__username,
  &__password {
    @include flex(column);
  }

  &__terms {
    display: inline-flex;
  }

  &__agree {
    display: flex;
    font-size: 0.8rem;
    font-weight: 400;
  }

  &__terms-link {
    font-size: 0.8rem;
    padding-left: 0.1rem;
    text-decoration: underline;
  }

  &__buttons {
    @include flex(row);
    font-variant: small-caps;
  }

  &__submit {
    @include main-button($primary-color);
  }

  &__login {
    transition: all 0.3s ease-out;

    &:hover {
      color: $primary-title;
      transition: all 0.3s ease-out;
    }
  }
}
