.paragraph-with-button {
  &__container {
    padding: 0 2rem;
    @include flex(column);
    text-align: center;
  }

  &__heading {
    h1 {
      color: $white;

      &.last {
        color: $primary-color;
      }
    }
  }

  &__paragraph {
    margin-top: 1.6rem;

    p {
      color: $grey;
      font-weight: 300;
    }
  }

  &__button {
    position: relative;
    width: fit-content;
    margin-top: 1.6rem;
    color: $white;
    font-weight: 300;
    transition: all 0.3s ease-in;

    &:hover {
      color: $orange;
      transition: all 0.3s ease-in;
    }
  }

  &__login {
    @include homepage-button;
  }
}

@include media('>=screen-md') {
  .paragraph-with-button {
    @include content-container(md);
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: start;

    &__container {
      grid-column: 2 / span 4;
    }

    &__paragraph {
      margin-top: 3.2rem;
      width: 80%;
    }

    &__button {
      margin-top: 4.8rem;
      margin-left: 1.6rem;
    }
  }
}
