.three-col {
  &__container {
    @include flex(column);
    @include content-container(base);
    padding-inline: 3rem;
  }

  &__individual-container {
    @include flex(column);
    background-color: rgba(#aebdca, 0.6);
    margin-block: 4.8rem;
    border-radius: 1.6rem;
    transform: rotateX(1deg);
    box-shadow: 4px 4px 15px 2px rgba(#f0f0f0, 0.15);

    &.first {
      > figure {
        width: calc(100% - 4rem);
      }
    }

    &.second,
    &.third {
      > figure {
        width: 16rem;
      }
    }

    &.third {
      > figure {
        top: -9.6rem;
      }

      > div {
        &:not(:last-child) {
          top: -7.2rem;
        }
      }
    }
  }

  &__img-container {
    position: relative;
    top: -8rem;
    max-width: calc(100% - 2rem);
    transform: perspective(100rem) rotateY(2deg) rotateX(15deg);
  }

  &__img {
    height: auto;
    width: 100%;
    object-fit: cover;
    border-radius: 1.6rem;
  }

  &__text {
    padding-inline: 1.6rem;
    position: relative;
    top: -4.8rem;
    text-align: center;

    h3 {
      color: $black-body;
    }

    p {
      padding-top: 1.6rem;
      color: $grey;
      font-size: 1.6rem;
    }
  }

  &__button {
    position: relative;
    top: -3.2rem;
    align-self: center;
  }

  &__cta {
    @include main-button($primary-color);
    font-size: 1.6rem !important;
    color: $white;

    &:hover {
      background-color: $black-body;
    }
  }
}

@include media('>=screen-xs') {
  .three-col {
    &__individual-container {
      max-width: 52rem;
      max-height: 45rem;

      &.first {
        > figure {
          width: 36rem;
        }

        .text {
          top: -6rem;
        }
      }
    }
  }
}

@include media('>=screen-md') {
  .three-col {
    @include flex(row);

    &__container {
      display: grid;
      grid-template-columns: repeat(3, 33%);
      column-gap: 3.2rem;
    }

    &__individual-container {
      height: 38rem;
      margin-block: 0;
      justify-content: flex-start;

      &.first {
        > figure {
          margin-top: -12rem;
        }

        img {
          min-height: 19rem;
        }

        > div {
          margin-top: 5.4rem;
        }
      }

      &.second {
        > figure {
          width: 12rem;
        }
      }

      &.third {
        > figure {
          width: 14rem;
          top: 0;
          margin-top: -8.5rem;
        }

        > div {
          top: 0;
          margin-top: 2rem;
        }
      }
    }

    &__img-container {
      width: 30rem;
      top: 0;
      margin-top: -9rem;
    }

    &__text {
      position: static;
      max-height: 16rem;
      top: 0;
      margin-top: 5rem;

      h3 {
        font-size: 2.7rem;
        min-height: 5.4rem;
      }

      p {
        font-size: 2rem;
      }
    }

    &__button {
      top: 0;
      margin-top: 4rem !important;
    }
  }
}

@include media('>=screen-lg') {
  .three-col {
    max-width: 120rem;
    margin-inline: auto;

    &__container {
      column-gap: 8rem;
    }
  }
}

@include media('>=screen-xl') {
  .three-col {
    &__container {
      max-width: 100rem;
      column-gap: 15rem;
      justify-content: center;
      align-items: center;
    }

    &__individual-container {
      width: 35rem;
    }
  }
}
