@use 'styles/variables' as *;

.container {
  @include flex;
  width: 100%;
  padding: 5rem;

  .title {
    padding-left: 2rem;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 0.25rem;
    font-variant: small-caps;
    background-image: linear-gradient(to right, #553c9a, #ee4b2b);
    background-size: 200%;
    background-position: -200%;
    color: transparent;
    background-clip: text;
    animation: animated-gradient 3s infinite alternate-reverse;
  }

  form {
    padding: 2rem;
    width: 330px;

    input {
      padding-top: 1.5rem;
    }

    button {
      margin-top: 1.3rem;
    }
  }
}
